.stepper {
  --transition: all 500ms ease;
  --step-color: var(--primary-color);
  --complete-color: var(--success-color);
  width: 100%;
}

.stepper-nav {
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
}

.stepper-progress {
  position: absolute;
  background-color: var(--step-color);
  height: 2px;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 2px;
}

.stepper-progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  width: 0;
  background-color: var(--danger-color);
  transition: var(--transition);
  z-index: 2;
}

.stepper-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c5c5c5;
  transition: var(--transition);
  z-index: 2;
}
.stepper-item-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stepper-item-title {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  max-width: 120px;
  font-weight: 300;
}

.stepper-pane {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}

.icon-box {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--step-color);
  filter: brightness(55%);
  color: white;
  font-size: 20px;
}

.stepper-item.done .icon-box {
  background-color: var(--success-color);
  filter: brightness(75%);
}

.stepper-item.active .icon-box {
  filter: brightness(100%);
}
.stepper-item.active .stepper-item-title {
  color: var(--step-color);
  font-weight: 600;
}

.footer-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
