main {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.box {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

section {
  padding: 2rem 0;
}

section.alternate {
  background-color: #dbdbdb;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  margin-bottom: 0.5em;
  text-align: center;
}

h2 {
  margin-top: 1rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1rem;
}

.align-items-start {
  align-items: flex-start;
}

.button {
  margin: 6px;
}